{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 5 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}

   <div class="container">       
   <div class="sidebar">
   <p>
University of Virginia<Br>
cs3102 Fall 2019<br>
Theory of Computation<br>
</p>
<p>

<b><a href="/docs/syllabus.pdf">Syllabus</a></b></br>
&nbsp;&nbsp;&nbsp;<a href="https://calendar.google.com/calendar/embed?src=fcp59v0s307hlio3a7ok6mu18k%40group.calendar.google.com&ctz=America%2FNew_York">Calendar</a></br>
&nbsp;&nbsp;&nbsp;<a href="/docs/pledge">Pledge</a></br>
<b><a href="https://introtcs.org">Book</a></b> [<a href="https://files.boazbarak.org/introtcs/lnotes_book.pdf">PDF</a>]</br>

<p></p>

<!--
<b><a href="/schedule/">Schedule</a></b><br>
</p>
<p>
<b><a href="https://notebooks.azure.com/evansde/projects/uvammm">Notebooks</a></b><br>
</p>
</p>
-->
   <p>
   <b><a href="/posts/">Recent Posts</a></b>
   {{ range first $posts_count ((where .Data.Pages.ByDate "Section" "post").Reverse) }}
   <div class="posttitle">
      &nbsp;&nbsp;&nbsp; {{ partial "post-title" . }}
   </div>
   {{ end }}
   <div class="posttitle">
     &nbsp;&nbsp;&nbsp; <div class="more"><a href="/posts/"><em>More...</em></a></div>
   </div>

   </p>
   <p>
   <b>Instructors</b><br> 
   <a href="https://www.cs.virginia.edu/~njb2b/">Nathan Brunelle</a><br>
   <a href="https://www.cs.virginia.edu/evans">David Evans</a>
   </p>
   <P>
   <b>TAs</b><br>
   </p>
   </div>


    <div class="content">

    {{ range .Site.Pages }}
        {{ if eq .Type "index" }}
           {{ .Content }}
        {{ end }}
    {{ end }}
  

    {{ range first $posts_count ((where .Data.Pages.ByDate "Section" "post").Reverse) }}
    {{ partial "post-full-summary" . }}
    {{ end }}
    <footer>
      <nav>
	<a href="/post/" class="button hollow primary">All {{ $posts_title }}</a>
      </nav>
    </footer>

</div>
</div>

{{ end }}

